.blackback
{
  background-color: #000000;
}

.white
{
  color: #FFFFFF;
}

.yellow
{
  color: #FFFF00;
}

.green
{
  color: #00FF00;
}

.red
{
  color: #FF0000;
}

.cyan
{
  color: #00FFFF;
}

.darkblue
{
  color: #008B8B;
}

.olivedrab
{
  color: #6B8E23;
}

.goldenrod
{
  color: #DAA520;
}

.purple
{
  color: #800080;
}

#query_history
{
  height: 450px;
  text-align: left;
//  border: 1px solid #ACD8F0;
  overflow: auto;
}
