[Unit]
Description=Alfred
After=network.target

[Service]
EnvironmentFile=-/etc/sysconfig/alfred
ExecStart=/usr/bin/alfred
Restart=always

[Install]
WantedBy=multi-user.target
