[Unit]
Description=Botman
After=network.target

[Service]
EnvironmentFile=-/etc/sysconfig/botman
ExecStart=/usr/bin/botman
Restart=always

[Install]
WantedBy=multi-user.target
